<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/getStuByNoPwd" enctype="multipart/form-data">
    <table width="521" height="228" border="1">
        <tr>
            <td colspan="2"><div align="center">管理员登录</div></td>
        </tr>
        <tr>
            <td width="147"><div align="center">账号:</div></td>
            <td width="358"><label for="textfield"></label>
                <div align="center">
                    <input type="text" name="studentNo" id="textfield">
                </div></td>
        </tr>
        <tr>
            <td><div align="center">密码:</div></td>
            <td><label for="textfield2"></label>
                <div align="center">
                    <input type="text" name="loginPwd" id="textfield2">
                </div></td>
        </tr>
        <tr>
            <td colspan="2"><div align="center">
                <input type="submit" name="button" id="button" value="登录">
                <input type="reset" name="button2" id="button2" value="重置">
            </div></td>
        </tr>
    </table>

</form>
</body>
</html>